extends layout

block content
  h1= title
  form(action="",  method="post")
      input#noComm(type="text", name="noComm", placeholder="Numéro de commande")
      input#nameFile(type="text", name="noComm", placeholder="Nom du fichier")
      input#statusFile(type="text", name="noComm", placeholder="Statut du fichier")
      input#progressFile(type="text", name="noComm", placeholder="Progression")
      input#eta(type="text", name="noComm", placeholder="Temps restant estimé")
      button(type="submit") Ajouter