extends layout

block content
  h1= title
  form(action="",  method="post")
      input#id(type="text", name="id", placeholder="Identifiant")
      input#pass(type="text", name="pass", placeholder="Mot de passe")
      button(type="submit") Connexion