extends layout

block content
  h1= title
  #commandesTable
      .commande.title
          .noComm Numéro de commande
          .nameFile Nom du fichier
          .statusFile Statut du fichier
          .progressFile Progression
          .eta Temps restant estimé
      .commande
          .noComm
          .nameFile
          .statusFile
          .progressFile
          .eta
