body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #3c3f41;
  color: #bbbbbb;
}

a {
  color: #00B7FF;
}

.title {
    text-align: center;
    font-size: 16px;
}

.commande {
    display: flex;
    flex-direction: row;
}

.commande > div {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
}

input, button {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 8px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid grey;
}